* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
}
.container,
.subcontainer {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
	justify-content: center;
	margin: auto;
	gap: 20px;
}
.block-element {
	display: block;
}
